.App {
  text-align: center;
}

.border {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.characteres-border {
  border: 1px solid black;
  text-align: center;
  width: 320px;
  margin-bottom: 10px;
}

.title {
  text-align: center;
}

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.input-login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items:stretch;
  justify-content: center;
}

.input-login label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: large;
}

.input-login input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(24, 26, 31);
  color: whitesmoke;
}

.login-page button {
  width: 100%;
  padding: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 700;
  font-size: medium;
  cursor: pointer;
  background-color: darkgreen;
  border: none;
  color: whitesmoke;
  border-radius: 10px;
}

.login-page button:hover {
  background-color: rgb(4, 162, 4);
}
