.App {
  text-align: center;
}

.border {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.characteres-border {
  border: 1px solid black;
  text-align: center;
  width: 320px;
  margin-bottom: 10px;
}

.title {
  text-align: center;
}
